### -----------------------------------------------------------------------------------------------------------------------------
### ------ On travaille en php5 et les variables de sessions sont cachees
### -----------------------------------------------------------------------------------------------------------------------------

SetEnv PHP_VER 5_4
SetEnv SESSION_USE_TRANS_SID 0
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0
ServerSignature EMail
SetEnv SERVER_ADMIN florian.mithieux@gmail.com

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Interdire l'accès à certains fichiers
### -----------------------------------------------------------------------------------------------------------------------------

<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|sql)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Mise en cache des fichiers pour les performances
### -----------------------------------------------------------------------------------------------------------------------------

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
###Header set Cache-Control "max-age=2592000"
</FilesMatch>

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Compression des fichiers pour un gain en performances
### -----------------------------------------------------------------------------------------------------------------------------

###<IfModule mod_deflate.c>
###    AddOutputFilterByType DEFLATE text/plain
###    AddOutputFilterByType DEFLATE text/html
###    AddOutputFilterByType DEFLATE text/xml
###    AddOutputFilterByType DEFLATE text/css
###    AddOutputFilterByType DEFLATE text/x-component
###    AddOutputFilterByType DEFLATE application/xml
###    AddOutputFilterByType DEFLATE application/xhtml+xml
###    AddOutputFilterByType DEFLATE application/rss+xml
###    AddOutputFilterByType DEFLATE application/javascript
###    AddOutputFilterByType DEFLATE application/x-javascript
###</IfModule>

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Redirection en cas d'erreur
### -----------------------------------------------------------------------------------------------------------------------------

Options -Indexes
DirectoryIndex app.php
ErrorDocument 403 /app.php?pattern=url-error&content=error403
ErrorDocument 404 /app.php?pattern=url-error&content=error404
ErrorDocument 500 /app.php?pattern=url-error&content=error500

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Activation du module de reecriture d'URL
### -----------------------------------------------------------------------------------------------------------------------------

Options +FollowSymLinks
RewriteEngine On

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Protection contre les PHP Easter Eggs
### -----------------------------------------------------------------------------------------------------------------------------

###ServerTokens Prod
ServerSignature Off
RewriteCond %{QUERY_STRING} \=PHP[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12} [NC]
RewriteRule .* - [F]

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Protection contre le hotlinking
### -----------------------------------------------------------------------------------------------------------------------------

###RewriteCond %{HTTP_REFERER} .
###RewriteCond %{HTTP_REFERER} !^http://(www\\.)?yoursite\\.com [NC]
###RewriteRule \\.(gif|jpe?g)$ - [NC,F]

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Reecriture avec www.
### -----------------------------------------------------------------------------------------------------------------------------

###RewriteCond %{HTTP_HOST} !^www\.yoursite\.fr [NC]
###RewriteCond %{HTTP_HOST} !^$
###RewriteRule ^/?(.*) http://www.yoursite.fr/$1 [L,R,NE]

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Application des regles de reecriture
### -----------------------------------------------------------------------------------------------------------------------------


RewriteRule ^apps/console$ app/secured/SecuredLauncher.php?path=console&page=console [L]
RewriteRule ^apps/console/([a-zA-Z0-9]+) app/secured/SecuredLauncher.php?path=console&page=console&req=$1 [L]
RewriteRule ^apps/([a-z]+)/([a-zA-Z0-9-_]+) app/secured/SecuredLauncher.php?path=$1&page=$2 [L]
#RewriteRule ^(.*)$ app.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([0-9]+)/(.*) app.php?pattern=$1&content=$2&id=$3&titre=$4 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([0-9]+) app.php?pattern=$1&content=$2&id=$3 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([a-z]+) app.php?pattern=$1&content=$2&value=$3 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+) app.php?pattern=$1&content=$2 [L]

