<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <!–[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]–>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <base href="{% block baseurl %}{% endblock %}" />
        <title>Gestion - {% block title %}En construction ...{% endblock %}</title>
        <meta name="description" content="{% block description %} Description de le page {% endblock %}" />

        <meta name="keywords" content="" />
        <meta name="google-site-verification" content="" />
        <meta name="author" content="AUTEUR" />

        <link rel="shortcut icon" href="/favicon.ico" />

        <link rel="stylesheet" href="web/css/style.css" type="text/css" />
        <link href="web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        {%block stylesheets %}
        <!-- Ajout des css supplementaires here -->
        {% endblock %}

    </head>


    <body>

        <header id="header">
                    {% include 'views/header.html.twig' %}
            </header>

            <section id="main" class="container">
                    {% block content %}{% endblock %}

                    <footer id="footer">
                        {% include 'views/footer.html.twig' %}
                        </footer>

                    </section>

                    <script src="web/bootstrap/js/bootstrap.min.js"></script>
            {% block jsinclude %}

            {% endblock %}

                </body>

            </html>