### -----------------------------------------------------------------------------------------------------------------------------
### ------ Optimisation du site en vitesse
### -----------------------------------------------------------------------------------------------------------------------------

SetEnv PHP_VER 5
SetEnv SESSION_USE_TRANS_SID 0
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Redirection en cas d'erreur
### -----------------------------------------------------------------------------------------------------------------------------

Options -Indexes
DirectoryIndex app.php
ErrorDocument 404 /gestion/app.php?pattern=url-error&content=error404
ErrorDocument 500 /gestion/app.php?pattern=url-error&content=error500

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Activation du module de reecriture d'URL
### -----------------------------------------------------------------------------------------------------------------------------

Options +FollowSymLinks
RewriteEngine On


### -----------------------------------------------------------------------------------------------------------------------------
### ----- Reecriture avec www.
### -----------------------------------------------------------------------------------------------------------------------------

###RewriteCond %{HTTP_HOST} !^www\.yoursite\.fr [NC]
###RewriteCond %{HTTP_HOST} !^$
###RewriteRule ^/?(.*) http://www.yoursite.fr/$1 [L,R,NE]

### -----------------------------------------------------------------------------------------------------------------------------
### ----- Application des regles de reecriture
### -----------------------------------------------------------------------------------------------------------------------------


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^auth/change-password/(.*)/(.*) app.php?pattern=auth&content=change-password&l=$1&t=$2 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([0-9]+)/(.*) app.php?pattern=$1&content=$2&id=$3&titre=$4 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([0-9]+) app.php?pattern=$1&content=$2&id=$3 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+)/([a-z-]+) app.php?pattern=$1&content=$2&value=$3 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-z0-9]+)/([a-z0-9\-_]+) app.php?pattern=$1&content=$2 [L]
#RewriteRule ^(.*)$ app.php [QSA,L]

