
body{

    background: #C0DEED;
    font-family: "calibri";
    margin: 0; 
    padding:0; 
    color:black;  
    line-height: 1.2em;
}

a{
    text-decoration:none;
    color: #b7b3b3;
}

h2 {
    text-shadow: 1px 1px 1px #b7b3b3;
}

.clear{

    clear: both;

}
/*
tr, th, td {
    width: 150px;
    min-height: 60px;
    text-align: justify;
    border-bottom: 1px solid #e1dfdf;
}

tr {
    word-wrap: break-word;
}

td {
    font-size: 13px;
    min-height: 50px;
}

th {
    font-weight: bold;
}*/

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 98%;
    background: white;
    margin-top: 10px;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered td{
    height: 45px!important;
    vertical-align: top;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#pagination{

    color: #666;

}

#pagination a{

    text-decoration: none;
    color: #666;
    font-weight: bold;

}

#pagination a:hover{

    color: #2c77e7;

}

#pagination .suivant{

    position: relative;
    top: 7px;
    right: 5px;
    background: url("../img/bibliotheque/next.png") no-repeat scroll 0 -22px transparent;
    display: inline-block;
    height: 23px;
    width: 25px;

}

#pagination .suivant:hover{

    background-position: 0 1px;

}

#pagination .precedant{

    position: relative;
    top: 7px;
    left: 5px;
    background: url("../img/bibliotheque/previous.png") no-repeat scroll 0 -22px transparent;
    display: inline-block;
    height: 23px;
    width: 25px;

}

#pagination .precedant:hover{

    background-position: 0 1px;

}


.msgparpage{

    width: 70%;
    float: left;

}

.form{
    float: right;
}

.toutselectionner{
    float: left;
}



/* CONTENU PRINCIPAL
-----------------------------------------------------*/

.back a{

    text-decoration: none;
    color: #302e2e;
    font-weight: bold;
    background: url('../img/bibliotheque/door_out.png') left no-repeat;
}

.back a:hover{

    color: #808184;
}

#content .triselect{

    padding: 15px;
    border-top: 1px dashed #19145a;
    width: 600px;

}

.boutons-content a{

    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: bold;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #0074CC;
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    padding: 8px 8px 8px 8px;

    border: 1px solid #CCC;
    border-color: #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);


}

.boutons-content a:hover{

    color:#CCC;

}

.boutons-content a:active{
    background-color: #0074CC;
    background-color: #0074CC \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


/* LES PAGES DE NAVIGATION
-----------------------------------------------------*/


#navigation {

    margin-top: 20px;
    /*background-color: #eee;*/
    background: #F5F5F5; /* Old browsers */
    width: 12%;
    padding: 15px 15px 0px 15px;
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px #a6b4ce;

}

#navigation .deconnexion{

    text-align: left;

}

#navigation .deconnexion img{

    max-height: 12px;

}

#navigation h1 {

    font-size: 20px;
    text-shadow: 3px 3px 3px #0f65c0;
    color: black;

}

#navigation h2 {

    color: #0f65c0;
    text-shadow: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;

}

#navigation a{

    text-decoration: none;
    color: #302e2e;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;

}

#navigation a:hover{

    color: #2c77e7;

}

#navigation .title {

    margin-top: 20px;
    padding: 8px 8px 8px 8px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px 2px #a6b4ce;

}

#navigation .title img{

    max-width: 150px;
    max-height: 200px;


}

#navigation .title a{

    text-decoration: none;

}

#navigation .separation-nav{

    margin: 0 auto;
    margin-top: 20px;
    width: 140px;
    margin-bottom: 5px;
    border-bottom: 1px solid #3772a7;

}

#navigation .navigation {

    margin-top: 15px;
    margin-bottom: 15px;

}

#navigation .navigation .liens{

    margin-top: 10px;
    text-align: center;

}

#navigation .navigation .liens a{

    margin-left: 10px;
    text-decoration: underline;
    font-style:  normal;

}

/* LE CONTENU PRINCIPAL
-----------------------------------------------------*/


#content {

    float: left;
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-left: 1%;
    /*background: #d2dbec;*/
    background: #F5F5F5; /* Old browsers */
    padding: 15px 15px 15px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px #a6b4ce;
}


/* Gestion des boutons
-----------------------------------------------------------------------------------------*/

textarea {
    background: white url('../images/bg_ip.png') repeat-x;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    color: #666;
    margin: 0;
    border: 1px solid #CCC;
    height: 200px;
    overflow: auto;
    font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
    width:450px;
    height:195px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"], [type="search"], select {
    background: transparent;
    padding: 7px 5px 7px 5px;
    width:250px;
    font-size: 12px;
    margin: 0;
    border: 1px solid #CCC;
    background: white url('../images/bg_ip.png') repeat-x;
    font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
    color: #666;
}

label {
    color: #444444;
    letter-spacing: 0px;
    font-weight: bold;
}

select:active select:hover{
    cursor:pointer;
}

input[type="submit"], input[type="button"], a.button {
    cursor: pointer;
    
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: bold;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #0074CC;
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    padding: 12px 24px;

    border: 1px solid #CCC;
    border-color: #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=submit]:hover, input[type=button]:hover, a.button:hover{

    color: #CCC;

}

input[type=submit]:active, input[type=button]:active, a.button:active{
    background-color: #0074CC;
    background-color: #0074CC \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* GESTION des boutons check styled */

.checkbox-styled, .radio-styled {

    padding: 0 25px 5px 0;
    height: 25px;
    width: 19px;
    background: url(../img/bibliotheque/checkbox.png) no-repeat;

}

.checkbox-checkall {

    padding: 0 25px 0 0;
    height: 25px;
    width: 19px;
    background: url(../img/bibliotheque/checkbox.png) no-repeat;

}

.radio-styled {
    background: url(../img/bibliotheque/radio.png) no-repeat;
}

.select-styled {
    position: absolute;
    width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
    height: 21px;
    padding: 0 24px 0 8px;
    color: #fff;
    font: 12px/21px arial,sans-serif;
    background: url(select.gif) no-repeat;
    overflow: hidden;
}



/* La HOME PAGE
------------------------------------------------------*/

#content #home{

    text-align: left;
    min-height: 400px;

}

#content #home a{

    color: #3772a7;

}

#content #home a:hover{

    color: #2c77e7;

}

#content #home h2{

    color: #4486CC;
    text-shadow: none;

}

#content #home .image{

    float: right;

}

#content #home .image img{

    max-width: 150px;
    box-shadow: 1px 2px 2px 2px #a6b4ce;

}

#content #home #deconnexion{

    text-align: left;

}

#content #home #deconnexion img{

    max-height: 12px;

}

#content #home #deconnexion a{

    color: black;
    font-weight: bold;

}

#content #home #deconnexion a:hover{

    color: black;
    font-weight: bold;
    color: #2c77e7;

}

#content #home #general{

    margin-top: 50px;
    padding-left: 60px;
    min-height: 350px;

}

#content #home .developper{

    position: relative;
    bottom:0;
    text-align: center;

}


/* La page de Login
------------------------------------------------------*/


#login{

    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
    -moz-border-radius: 5px;
    background: #F5F5F5;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px #a6b4ce;

}



/* LES FORMULAIRES
-----------------------------------------------------*/


.formulaire {

    width: 85%;

}

.formulaire a{

    color: black;
    font-weight: bold;

}

.formulaire a:hover{

    color: red;

}


/* LES PAGES DE CONTENU
-----------------------------------------------------*/

h2{

    color: #323332;
    font-size: 22px;
    text-shadow: none;

}


table a{

    text-decoration: none;
    color: #2e85d7;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;

}

.checkbox{

    color: black;
    width: 7%;

}

.uneLigne{
    height: 45px;
}

.uneLigne:hover > .id .edit-delete {

    display: block;
    color: red;
    font-size: 12px;

}


.uneLigne .id .edit-delete {

    display: none;

}

.uneLigne .id .edit-delete a{

    color: red;
    font-size: 12px;
}

.uneLigne .id{

    width: 12%;
}
