/* 
    Document   : style
    Created on : 12 f�vr. 2012, 14:27:01
    Author     : Flo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/** {
    margin: 0;
    padding: 0;
}
*/
body {
    margin: 0px;
    padding: 0px;
    background:#fff;
    width: 100%;
}

a {
    color: #414141;
    text-decoration: none;
}

img{
    border: 0px;
    
}

.clear{
    clear:both;
}
