/* 
    Document   : style
    Created on : 12 f�vr. 2012, 14:27:01
    Author     : Flo
    Description:
        Purpose of the stylesheet follows.
*/


body {
  margin: 0px;
  padding: 0px;
  background:#fafafa;
  width: 100%;
}


.hero-unit{

  background: #eeeeee;

}


/**
* Main content
*/

#main-content{

  margin-top: 50px;
  background: #fff;
  border: 1px solid #d7d7d7;

}


/**
* Footer
*/

#footer{
  margin-top: 20px;
  text-align: center;
}