{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}404 Not Found{% endblock %}
{% block description %}{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}

<br/><br/><br/><br/><br/><br/>

<div class="alert alert-error">

<h2>La page demandée est introuvable</h2>

<br/>

Ceci est un code d'erreur 404 : La page demandée n'existe pas, ou plus.<br/><br/>

<small>Merci de contacter votre webmaster pour plus d'informations.</small>

</div>

<br/><br/><br/><br/><br/>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}