{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ baseUrl }}{% endblock %}

{# Gestion SEO #}
{% block title %}Titre du document{% endblock %}
{% block description %}Description du document{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}


<h2>404 !</h2>

ERREUR 404


{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}