{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}{{ constant('SITE_NOM') }} - Accueil{% endblock %}
{% block description %}Bienvenue sur la page d'accueil de {{ constant('SITE_NOM') }}{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}
  <br/>
  <div class="well">
    <h3>{{ 'bienvenue'|translate|capitalize }} sur la page d'accueil du framework.</h3>
  </div>

  <div class="row">

    <div class="span12">

      <p>

        <strong>Pour faire fonctionner le FrameWork, merci de suivre ces étapes :</strong>

        <br/><br/>

        <i class="icon-ok-sign"></i> Ouvrez le fichier "app/config.php".<br/>
        - Modifiez ici, toutes les informations essentielles de votre site.<br/>
        - Modifiez en priorité les constantes concernant la "SOCIETE_NOM" et les informations concernant la base de
        données (à assigner en fonction de votre environnement)

        <br/><br/>

        <i class="icon-ok-sign"></i> Générez la base de données.<br/>
        - Créez une base de données ayant pour nom celui que vous avez donné dans l'étape précédente.<br/>
        - Suivez <a href="apps/console" title="Accéder à la gestion des bases" target="_blank">ce lien</a>,
        connectez-vous avec les informations présentes dans le fichier config.php (ADMIN_EMAIL et ADMIN_PASSWORD)<br/>
        - Générez la base de données avec un premier enregistrement.

        <br/><br/>

        <i class="icon-ok-sign"></i> Accédez au Back-Office<br/>
        - Suivez simplement ce lien : <a href="gestion/" title="Accéder au Back Office" target="_blank">Suivez ce lien
          !</a><br/>
        - Visitez le Back Office comme il vous plaît.<br/>

      </p>

    </div>

  </div>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}