### -----------------------------------------------------------------------------------------------------------------------------
### ------ On travaille en php5 et les variables de sessions sont cachees
### -----------------------------------------------------------------------------------------------------------------------------

SetEnv PHP_VER 5_4
SetEnv SESSION_USE_TRANS_SID 0
SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1

Order Deny,Allow
Deny from all
Allow from 127.0.0.1

Order Deny,Allow
Deny from all
Allow from localhost

Order Deny,Allow
Deny from all
Allow from 89.93.227.129

Order Deny,Allow
Deny from all
Allow from 109.6.177.222

Order Deny,Allow
Deny from all
Allow from 192.168.1