<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <ul class="nav secondary-nav">
        <li class="dropdown-custom">
          <a class="brand dropdown-toggle-custom" href="{{ constant('SITE_URL') }}" id="brandTitle">{{ constant('SITE_NOM') }}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ constant('SITE_URL_BASE') }}" target="_blank" title="Voir le site"><i class="icon-eye-open"></i> Voir le site</a></li>
          </ul>
        </li>
      </ul>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="{{ constant('SITE_URL') }}"><i class="icon-home"></i> Accueil</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% if admin.privilege.level > 8 %}Gestion des pages & SEO  {% else %}Gestion des pages{% endif %}<b class=caret></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              {% if admin.privilege.level > 8 %}
                <li><a href="dashboard/seo">T&D pages statiques</a></li>
                <li><a href="dashboard/blog-categorie">Gestion des catégories de pages</a></li>
              {% endif %}
              <li><a href="dashboard/blog-post">Gestion des pages</a></li>
            </ul>
          </li>

        </ul>

        <ul class="nav pull-right">

          <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-white icon-user"></i> Admin  <b class=caret></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="dashboard/infos"><i class="icon-user"></i> Mes informations</a></li>
              <li><a href="dashboard/stats"><i class="icon-signal"></i> Statistiques</a></li>
              <li><a href="dashboard/tickets"><i class="icon-check"></i> Tickets / Erreurs</a></li>
              {% if admin.privilege.level > 8 %}
                <li class=divider></li>
                <li><a href="private/admins">Gérer les administrateurs</a></li>
                <li><a href="dashboard/privileges">Gérer les privilèges</a></li>
                <li><a href="dashboard/logs">Consulter les logs</a></li>
                {% if admin.privilege.level > 9 %}
                  <li class=divider></li>
                  <li><a href="dashboard/tool-box"><i class="icon-cogs"></i> Boite à outils</a></li>
                {% endif %}
              {% endif %}
              <li class=divider></li>
              <li><a href="auth/logout"><i class="icon-off"></i> Se déconnecter</a></li>
            </ul>

          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>