{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}500 Internal Server Error{% endblock %}
{% block description %}{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}

<br/><br/><br/><br/><br/><br/>

<div class="alert alert-error">

<h2>Internal Server Error : 500</h2>

<br/>

Ceci est un code d'erreur 500 : Le serveur a rencontré un grave problème.<br/><br/>

Si le problème persiste, merci de contacter un administrateur.

</div>

<br/><br/><br/><br/><br/>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}