{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}Administrateurs{% endblock %}
{% block description %}Description du document{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}


{% block container %}class="container"{% endblock %}

{# Contenu de la page #}
{% block content %}

<div class="row">

    <br/><br/><br/>


    <div class="span12">

        <div class="widget-content">

            <a class="btn btn-primary addEditItem pull-right" id="addItem" data-width="850px" title="Ajouter" href="private/admins-gestion">
                <i class="icon icon-plus-sign icon-white"></i> Ajouter un administrateur
            </a>

            <h4 class="fwk-title">
                <a title="Rafraîchir la page" class="hand" href="{{ constant('SITE_CURRENT_URI') }}">
                    <i class="icon-refresh" style="margin-top: 6px;"></i>
                </a>
             Gestion des administrateurs
            </h4>
            
            <hr/>

            <br/>

            {{ tableFwk.show| raw }}

            
            <br/><br/>



        </div>
    </div>

</div>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}