{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}Oubli de mot de passe{% endblock %}
{% block description %}Merci de rentrer votre adresse email afin de réinitialiser votre mot de passe.{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}

{% block header %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="{{ constant('SITE_URL_BASE') }}"><i class="icon-fast-backward icon-white"></i>
                Revenir à {{ constant('SITE_NOM') }}</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <noscript>
    <style type="text/css">
      #jsactif {
        display: none !important;
      }
    </style>
    <br/><br/><br/>
    <section class="container">

      <div class="hero-unit">
        <p class="alert alert-error">
          Le javascript est inactif sur votre ordinateur.<br/>
          Par conséquent, il vous est impossible d'accéder à l'interface de gestion.
        </p>
      </div>
    </section>
  </noscript>
{% endblock %}



{# Contenu de la page #}
{% block content %}



  <br/><br/><br/>
  <section class="container" id="jsactif">

    <div class="hero-unit">

      <p class="alert alert-info" style="font-size: 14px;">

        Merci de saisir votre adresse de messagerie.
        <br/>
        Un lien permettant de créer un nouveau mot de passe vous sera envoyé par e-mail.

      </p>

      <form class="form-horizontal" id="validation-login" method="POST" action="auth/forget-password">

        <legend></legend>

        <div class="control-group">
          <label class="control-label" for="inputEmail">Adresse e-mail :</label>

          <div class="controls">
            <input type="text" id="inputEmail" placeholder="example@test.fr" name="login" data-verif="true"
                   data-verif='true' data-type='email'>
            <button class="btn btn-primary" id="submitForget" type="submit">Valider</button>
          </div>
        </div>

      </form>
      <br/>
      <i class="icon-fast-backward"></i> <a href="auth/login" title="Revenir à la page de connexion">Revenir à la page
        de connexion</a>

    </div>

    <div class="modal hide fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Information</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" id="texteLogin">
          <p>Un email vient de vous être envoyé afin de réinitialiser votre mot de passe.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
      </div>
    </div>
  </section>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}
  {% if displayPopup %}
    <script>
      $(function () {

        $(document).keydown(function (e) {

          var code = (e.keyCode ? e.keyCode : e.which);

          if (code === 116) {
            e.preventDefault();
          }

        });

        $('#warning').modal({
          keyboard: false
        });
      });
    </script>
  {% endif %}
{% endblock %}