{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}Page de tests{% endblock %}
{% block description %}{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}

  <br/>
  <div class="hero-unit">

    <h2 class="fwk-title">Ceci est une page de tests</h2>

    <br/>

    <!---


    TEST CONTENT


    ----->


    <form method="POST" enctype="multipart/form-data">


      <input type="file" name="myupload">

      <input type="hidden" name="test">

      <br/><br/><br/><br/>

      <button type="submit" class="btn btn-sall">Tester l'upload</button>

    </form>


    <!---


    TEST CONTENT


    ----->


  </div>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}