{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}Page de tests{% endblock %}
{% block description %}{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}



{# Contenu de la page #}
{% block content %}

<br/>
<div class="hero-unit">

<h2>Ceci est une page de tests</h2>

<br/>

<!---


TEST CONTENT


----->








<form method="POST" class="form-horizontal" id="editAddForm" name="editAddForm" >

    <div class="control-group">
        <label class="control-label">Logo de la marque :</label>
        <div class="controls">
            <input type="file" name="logotest" class="ajaxImageUpload" data-max-size="5000" data-formats="png,jpg,jpeg" data-filename="logotest">
            <div class="preview">
                
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Valider</button>  
        <a href="#" class="btn" id="confirmFalse" data-dismiss="modal" aria-hidden="true">Annuler</a>
    </div>

</form>



















<!---


TEST CONTENT


----->


</div>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}

{% endblock %}